* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #2f3136;
}

#text-input {
    margin-top: 10px;
    border: 1px solid #dddddd;
    padding: 10px;
    height: 75vh;
    overflow-x: hidden;
    overflow-y: auto;
    border-radius: 3px;
}

.text-input {
    display: block;
    border: 1px solid #dddddd;
    margin: 10px 10px 10px 10px;
    padding: 5px;
    overflow-x: hidden;
    overflow-y: auto;
    border-radius: 10px;
}

.ql-toolbar .ql-stroke {
    fill: none;
    stroke: #fff;
}

.ql-toolbar .ql-fill {
    fill: #fff;
    stroke: none;
}

.ql-toolbar .ql-picker {
    color: #fff;
}

.ql-placeholder {
    color: #fff;
}