body
{
    background-color: #2f3136;
    color: white;
}

nav .navbar-brand
{
    /* size for brand */
    font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}

main .form-control
{
    /* Center form controls */
    display: inline-block;

    /* Override Bootstrap's 100% width for form controls */
    width: auto;
}

main
{
    /* Scroll horizontally as needed */
    overflow-x: auto;
}

main img
{
    /* Constrain images on small screens */
    max-width: 100%;
}

h1 {
    text-align: center;
    color: white;
    margin: 25px 50px 50px 50px;
    font-size: 75px;
    font-weight: bold;
}

h2 {
    text-align: left;
    color: white;
    margin: 30px 10px 10px 10px;
    font-size: 40px;
}

.main-content {
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 100px;
}

.notes-grid {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    column-gap: 20px;
    row-gap: 20px;
    justify-content: space-evenly;
    margin: 50px 0px 50px 0px;
}

.notes-grid>li {
    display: block;
    background-color: #40444b;
    border-radius: 25px;
    height: 220px;
    overflow: hidden;
}

.notes-grid>li:hover {
    background-color: #37393D;
}

.notes-grid>li>a>h1 {
    text-align: left;
    color: white;
    font-size: 50px;
    margin: 10px 20px 5px 20px;
    overflow: hidden;
}

.notes-grid>li>a>p {
    text-align: left;
    color: white;
    font-size: 30;
    margin: 10px 20px 20px 20px;
}

.topline {
    color: white;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

.column {
  float: left;
  width: 50%;
}

.row {
  display: flex;
  align-items: center;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}