{% extends "layout.html" %}

{% block title %}
    Edit - {{ note.key }}
{% endblock %}

{% block main %}
    <h1>Edit: {{ note.key }}</h1>
    <hr class="topline">
    <div id="toolbar">
        <select class="ql-size">
            <option value="small"></option>
            <option selected></option>
            <option value="large"></option>
            <option value="huge"></option>
        </select>
        <button class="ql-bold"></button>
        <button class="ql-script" value="sub"></button>
        <button class="ql-script" value="super"></button>
        <button id="save-small" class="btn btn-primary" style="font-size: 1rem; margin-left: 10px; text-align: left; width: auto;">
            Save <i id="success-small" class="fa-solid fa-check"></i><div id="spinner-small" style="width: 1.2rem; height: 1.2rem;" class="spinner-border text-light"></div>
        </button>
    </div>

    <div id="editor"></div>
    <div class="row">
        <div class="column" style="margin-left: auto; margin-right: 0;">
            <h2>Name</h2>
            <p style="text-align: left; margin-left: 10px; font-size: 12px;">Please keep the name to 3 words at most and note that changing the name will create a brand new note.</p>
            <div id="name" contenteditable="true" class="text-input" style="height: 51px; width: 70%; font-size: 25px; overflow: hidden; margin-top: 7px;">{{ note.key }}</div>
            <div style="display: -webkit-inline-box;">
                <button id="save" class="btn btn-primary" style="font-size: 1.5rem; margin-left: 10px; text-align: left;"><i id="success" class="fa-solid fa-check"></i>
                    <div id="spinner" class="spinner-border text-light"></div> Save</button>
            </div>
        </div>
        <div class="column">
            <h2>Description</h2>
            <div id="description" contenteditable="true" class="text-input" style="height: 17vh; width: 93%; font-size: 25px">{{ note.description }}</div>
            <div class="column"></div>
        </div>
    </div>
    <script src="/static/editor.js"></script>
    <script>
        $("#success").hide();
        $("#spinner").hide();
        $("#save").click(function(){
            $("#save").prop("disabled", true);
            $("#spinner").fadeIn(500);
            let c = $("#text-input").html();
            let n = $("#name").text();
            let d = $("#description").text();
            let k = "{{ note.key }}";
            var server_data = [
                {"key": k},
                {"name": n},
                {"description": d},
                {"content": c}
            ];

            $.ajax({
                type: "POST",
                url: "/edit/note",
                data: JSON.stringify(server_data),
                contentType: "application/json",
                dataType: 'json',
                success: function(result) {
                    if (result.res == "renamed") {
                        window.location.href = "/";
                    } else {
                        $("#spinner").hide();
                        $("#success").show();
                        $("#success").fadeOut(1000);
                    }
                }
            });

            $("#save").prop("disabled", false);
        });

        $("#success-small").hide();
        $("#spinner-small").hide();
        $("#save-small").click(function(){
            $("#save-small").prop("disabled", true);
            $("#spinner-small").fadeIn(500);
            let c = $("#text-input").html();
            let n = $("#name").text();
            let d = $("#description").text();
            let k = "{{ note.key }}";
            var server_data = [
                {"key": k},
                {"name": n},
                {"description": d},
                {"content": c}
            ];

            $.ajax({
                type: "POST",
                url: "/edit/note",
                data: JSON.stringify(server_data),
                contentType: "application/json",
                dataType: 'json',
                success: function(result) {
                    if (result.res == "renamed") {
                        window.location.href = "/";
                    } else {
                        $("#spinner-small").hide();
                        $("#success-small").show();
                        $("#success-small").fadeOut(1000);
                    }
                }
            });

            $("#save-small").prop("disabled", false);
        });
    </script>

{% endblock %}