{% extends "layout.html" %}

{% block title %}
    Edit - {{ note.key }}
{% endblock %}

{% block main %}
    <h1>Edit: {{ note.key }}</h1>
    <hr class="topline">
    <div class="container">
    <div class="options">
        <!-- Text Format -->
        <button id="bold" class="option-button format textbutton" data-bs-toggle="tooltip" title="Bold">
        <i class="fa-solid fa-bold"></i>
        </button>
        <button id="italic" class="option-button format textbutton" data-bs-toggle="tooltip" title="Italicize">
        <i class="fa-solid fa-italic"></i>
        </button>
        <button id="underline" class="option-button format textbutton" data-bs-toggle="tooltip" title="Underline">
        <i class="fa-solid fa-underline"></i>
        </button>
        <button id="strikethrough" class="option-button format textbutton" data-bs-toggle="tooltip" title="Strikethrough">
        <i class="fa-solid fa-strikethrough"></i>
        </button>
        <button id="superscript" class="option-button script textbutton" data-bs-toggle="tooltip" title="Superscript">
        <i class="fa-solid fa-superscript"></i>
        </button>
        <button id="subscript" class="option-button script textbutton" data-bs-toggle="tooltip" title="Subscript">
        <i class="fa-solid fa-subscript"></i>
        </button>
        <!-- Undo/Redo -->
        <button id="undo" class="option-button textbutton" data-bs-toggle="tooltip" title="Undo">
        <i class="fa-solid fa-rotate-left"></i>
        </button>
        <button id="redo" class="option-button textbutton" data-bs-toggle="tooltip" title="Redo">
        <i class="fa-solid fa-rotate-right"></i>
        </button>
        <!-- Alignment -->
        <button id="justifyLeft" class="option-button align textbutton" data-bs-toggle="tooltip" title="Left Align">
        <i class="fa-solid fa-align-left"></i>
        </button>
        <button id="justifyCenter" class="option-button align textbutton" data-bs-toggle="tooltip" title="Center">
        <i class="fa-solid fa-align-center"></i>
        </button>
        <button id="justifyRight" class="option-button align textbutton" data-bs-toggle="tooltip" title="Right Align">
        <i class="fa-solid fa-align-right"></i>
        </button>
        <button id="justifyFull" class="option-button align textbutton" data-bs-toggle="tooltip" title="Justify Full">
        <i class="fa-solid fa-align-justify"></i>
        </button>
        <button id="indent" class="option-button spacing textbutton" data-bs-toggle="tooltip" title="Indent">
        <i class="fa-solid fa-indent"></i>
        </button>
        <button id="outdent" class="option-button spacing textbutton" data-bs-toggle="tooltip" title="Unindent">
        <i class="fa-solid fa-outdent"></i>
        </button>
        <!-- Font -->
        <select id="fontName" class="adv-option-button"></select>
        <select id="fontSize" class="adv-option-button"></select>
        <!-- Color -->
        <div class="input-wrapper">
            <input type="color" id="foreColor" class="adv-option-button" />
            <label for="foreColor">Font Color</label>
        </div>
        <div class="input-wrapper">
            <input type="color" id="backColor" class="adv-option-button" />
            <label for="backColor">Highlight Color</label>
        </div>
        <div style="display: -webkit-inline-box;">
            <button id="save-small" class="btn btn-primary" style="font-size: 1rem; margin-left: 10px; text-align: left;"><div id="spinner-small" style="width: 1.2rem; height: 1.2rem;" class="spinner-border text-light"></div> Save</button>
            <p style="text-align: left; margin-left: 10px; font-size: 20px;" id="success-small">Save Successful</p>
        </div>
    </div>
    <div id="text-input" contenteditable="true">{{ content }}</div>
    </div>
    <div class="row">
        <div class="column" style="margin-left: auto; margin-right: 0;">
            <h2>Name</h2>
            <p style="text-align: left; margin-left: 10px; font-size: 12px;">Please keep the name to 3 words at most and note that changing the name will create a brand new note.</p>
            <div id="name" contenteditable="true" class="text-input" style="height: 51px; width: 70%; font-size: 25px; overflow: hidden; margin-top: 7px;">{{ note.key }}</div>
            <div style="display: -webkit-inline-box;">
                <button id="save" class="btn btn-primary" style="font-size: 1.5rem; margin-left: 10px; text-align: left;"><div id="spinner" class="spinner-border text-light"></div> Save</button>
                <p style="text-align: left; margin-left: 10px; font-size: 20px;" id="success">Save Successful</p>
            </div>
        </div>
        <div class="column">
            <h2>Description</h2>
            <div id="description" contenteditable="true" class="text-input" style="height: 17vh; width: 93%; font-size: 25px">{{ note.description }}</div>
            <div class="column"></div>
        </div>
    </div>
    <script src="/static/editor.js"></script>
    <script>
        $("#success").hide();
        $("#spinner").hide();
        $("#save").click(function(){
            $("#save").prop("disabled", true);
            $("#spinner").fadeIn(2000);
            let c = $("#text-input").html();
            let n = $("#name").text();
            let d = $("#description").text();
            let k = "{{ note.key }}";
            var server_data = [
                {"key": k},
                {"name": n},
                {"description": d},
                {"content": c}
            ];

            $.ajax({
                type: "POST",
                url: "/edit/note",
                data: JSON.stringify(server_data),
                contentType: "application/json",
                dataType: 'json',
                success: function(result) {
                    if (result.res == "renamed") {
                        window.location.href = "/";
                    } else {
                        $("#spinner").fadeOut(500);
                        $("#success").show();
                        $("#success").fadeOut(5000);
                    }
                }
            });

            $("#save").prop("disabled", false);
        });

        $("#success-small").hide();
        $("#spinner-small").hide();
        $("#save-small").click(function(){
            $("#save-small").prop("disabled", true);
            $("#spinner-small").fadeIn(2000);
            let c = $("#text-input").html();
            let n = $("#name").text();
            let d = $("#description").text();
            let k = "{{ note.key }}";
            var server_data = [
                {"key": k},
                {"name": n},
                {"description": d},
                {"content": c}
            ];

            $.ajax({
                type: "POST",
                url: "/edit/note",
                data: JSON.stringify(server_data),
                contentType: "application/json",
                dataType: 'json',
                success: function(result) {
                    if (result.res == "renamed") {
                        window.location.href = "/";
                    } else {
                        $("#spinner-small").fadeOut(500);
                        $("#success-small").show();
                        $("#success-small").fadeOut(5000);
                    }
                }
            });

            $("#save-small").prop("disabled", false);
        });
    </script>

{% endblock %}