{% extends "layout.html" %}

{% block title %}
    Edit - {{ note.key }}
{% endblock %}

{% block main %}
    <h1>Edit: {{ note.key }}</h1>
    <hr class="topline">
    <div class="container">
    <div class="options">
        <!-- Text Format -->
        <button id="bold" class="option-button format textbutton">
        <i class="fa-solid fa-bold"></i>
        </button>
        <button id="italic" class="option-button format textbutton">
        <i class="fa-solid fa-italic"></i>
        </button>
        <button id="underline" class="option-button format textbutton">
        <i class="fa-solid fa-underline"></i>
        </button>
        <button id="strikethrough" class="option-button format textbutton">
        <i class="fa-solid fa-strikethrough"></i>
        </button>
        <button id="superscript" class="option-button script textbutton">
        <i class="fa-solid fa-superscript"></i>
        </button>
        <button id="subscript" class="option-button script textbutton">
        <i class="fa-solid fa-subscript"></i>
        </button>
        <!-- List -->
        <button id="insertOrderedList" class="option-button textbutton">
            <div class="fa-solid fa-list-ol"></div>
        </button>
        <button id="insertUnorderedList" class="option-button textbutton">
        <i class="fa-solid fa-list"></i>
        </button>
        <!-- Undo/Redo -->
        <button id="undo" class="option-button textbutton">
        <i class="fa-solid fa-rotate-left"></i>
        </button>
        <button id="redo" class="option-button textbutton">
        <i class="fa-solid fa-rotate-right"></i>
        </button>
        <!-- Link -->
        <button id="createLink" class="adv-option-button textbutton">
        <i class="fa fa-link"></i>
        </button>
        <button id="unlink" class="option-button textbutton">
        <i class="fa fa-unlink"></i>
        </button>
        <!-- Alignment -->
        <button id="justifyLeft" class="option-button align textbutton">
        <i class="fa-solid fa-align-left"></i>
        </button>
        <button id="justifyCenter" class="option-button align textbutton">
        <i class="fa-solid fa-align-center"></i>
        </button>
        <button id="justifyRight" class="option-button align textbutton">
        <i class="fa-solid fa-align-right"></i>
        </button>
        <button id="justifyFull" class="option-button align textbutton">
        <i class="fa-solid fa-align-justify"></i>
        </button>
        <button id="indent" class="option-button spacing textbutton">
        <i class="fa-solid fa-indent"></i>
        </button>
        <button id="outdent" class="option-button spacing textbutton">
        <i class="fa-solid fa-outdent"></i>
        </button>
        <!-- Font -->
        <select id="fontName" class="adv-option-button"></select>
        <select id="fontSize" class="adv-option-button"></select>
        <!-- Color -->
        <div class="input-wrapper">
            <input type="color" id="foreColor" class="adv-option-button" />
            <label for="foreColor">Font Color</label>
        </div>
        <div class="input-wrapper">
            <input type="color" id="backColor" class="adv-option-button" />
            <label for="backColor">Highlight Color</label>
        </div>
    </div>
    <div id="text-input" contenteditable="true">{{ content }}</div>
    </div>
    <div class="row">
        <div class="column" style="margin-left: auto; margin-right: 0;">
            <h2>Name</h2>
            <p style="text-align: left; margin-left: 10px; font-size: 12px;">Please keep the name to 3 words at most and note that changing the name will create a brand new note.</p>
            <div id="name" contenteditable="true" class="text-input" style="height: 51px; width: 70%; font-size: 25px; overflow: hidden; margin-top: 7px;">{{ note.key }}</div>
            <button id="save" class="btn btn-primary" style="font-size: 2rem; margin-left: 10px; text-align: left;">Save</button>
            <p style="text-align: left; margin-left: 10px; font-size: 20px;" id="success"></p>
        </div>
        <div class="column">
            <h2>Description</h2>
            <div id="description" contenteditable="true" class="text-input" style="height: 17vh; width: 93%; font-size: 25px">{{ note.description }}</div>
            <div class="column"></div>
        </div>
    </div>
    <script src="/static/editor.js"></script>
    <script>
        $("#save").click(function(){
            let c = $("#text-input").html();
            let n = $("#name").text();
            let d = $("#description").text();
            let k = "{{ note.key }}";
            var server_data = [
                {"key": k},
                {"name": n},
                {"description": d},
                {"content": c}
            ];

            $.ajax({
                type: "POST",
                url: "/edit",
                data: JSON.stringify(server_data),
                contentType: "application/json",
                dataType: 'json',
                success: function(result) {
                    $("#success").text("Save Successful");
                }
            });
        });
    </script>

{% endblock %}